name: Build with MSVS 2022 and wxWidgets 3.2

on:
  push:
    branches:
      - master
    paths-ignore:
      - '.github/workflows/build-msys2.yml'
      - '.github/workflows/build-online-docs.yml'
      - 'build/vcpkg/**'
      - 'docs/**'
      - 'util/**'
      - 'ReadMe.md'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '.github/workflows/build-msys2.yml'
      - '.github/workflows/build-online-docs.yml'
      - 'build/vcpkg/**'
      - 'docs/**'
      - 'util/**'
      - 'ReadMe.md'
  workflow_dispatch:

permissions:
  contents: read

env:
  WXVER: 3.2.8
  WXWIN: c:\wx
  BUILD_DIR_PATH: build_cmake

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Install wxWidgets
        run: |
          mkdir ${env:WXWIN} | Out-Null
          cd ${env:WXWIN}
          curl -OL https://github.com/wxWidgets/wxWidgets/releases/download/v${env:WXVER}/wxWidgets-${env:WXVER}-headers.7z
          7z x wxWidgets-${env:WXVER}-headers.7z
          curl -OL https://github.com/wxWidgets/wxWidgets/releases/download/v${env:WXVER}/wxMSW-${env:WXVER}_vc14x_x64_Dev.7z
          7z x wxMSW-${env:WXVER}_vc14x_x64_Dev.7z

      - name: Configure wxAutoExcel
        run: |
          cmake -G "Visual Studio 17 2022" -B ${env:BUILD_DIR_PATH} -DBUILD_SHARED_LIBS=ON

      - name: Build wxAutoExcel
        run: |
          cmake --build ${env:BUILD_DIR_PATH} --config Release
