name: Build with MSYS2

on:
  push:
    branches:
      - master
    paths-ignore:
      - '.github/workflows/build-msvs2022.yml'
      - '.github/workflows/build-online-docs.yml'
      - 'docs/**'
      - 'util/**'
      - 'ReadMe.md'
  pull_request:
    branches:
      - master
    paths-ignore:
      - '.github/workflows/build-msvs2022.yml'
      - '.github/workflows/build-online-docs.yml'
      - 'docs/**'
      - 'util/**'
      - 'ReadMe.md'
  workflow_dispatch:

permissions:
  contents: read

env:
  wxMSW_VER: 3.2
  BUILD_DIR_PATH: build_cmake

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - { sys: ucrt64  }
          - { sys: clang64 }
    name: ${{ matrix.sys }}
    defaults:
      run:
        shell: msys2 {0}

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
        msystem: ${{matrix.sys}}
        update: true
        install: >-
          git
          make
        pacboy: >-
          toolchain:p
          cmake:p
          ninja:p
          wxwidgets${{ env.wxMSW_VER }}-msw:p

    - name: Configure wxAutoExcel
      run: |
        cmake -G Ninja -B $BUILD_DIR_PATH -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=ON

    - name: Build wxAutoExcel
      run: |
        cmake --build $BUILD_DIR_PATH